:root {
  --formal-main-color: #F2F2F2;
  --formal-darker-gray: #40403F;
  --formal-gray: #595958;
  --formal-light-gray: #BFBFBD;
  --formal-white-gray: #D9D8D7;
  
  --coder-main-color: #24262e;
  --coder-sintaxis: #90a4ae;
  --coder-comment: #546e7a;
  --coder-button: #e04ec8;
  --coder-tag: #ffd818;
  
  --border-radius: 5px;
  
  background-color: var(--coder-main-color);
}

* {
  font-family: 'M PLUS Code Latin';
}